body {
  overflow: hidden;
}

#app {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.page-main {
  height: 100%;
  width: 100%;
  padding: 16px 16px 0 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .page-search {
    // margin-bottom: 20px;
  }
  .page-table {
    flex: 1;
    .ant-table-wrapper {
      height: 100%;
      .ant-spin-nested-loading {
        height: 100%;

        .ant-spin-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .ant-table {
            // flex:1;
          }
        }
      }
    }
  }
}
.ant-table-cell {
  font-size: 16px;
  padding: 10px 8px !important;
}

.op-btn {
  .ant-btn {
    padding: 0 10px;
  }
}

.ant-form-item-label > label {
  font-size: 16px !important;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* 滚动条有滑块的轨道部分 */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 5px;
}

/* 滚动条滑块(竖向:vertical 横向:horizontal) */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(0 0 0 / 25%);
  border-radius: 5px;
}

/* 滚动条滑块hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0 0 0 / 45%);
}

/* 同时有垂直和水平滚动条时交汇的部分 */
::-webkit-scrollbar-corner {
  display: block;
}
